a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightpink;
}

body {
    /*    background-color: red;*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    /*    position: absolute;*/
    /*    width: 1728px;*/
    /*    height: 1117px;*/
    margin: 0;
    padding: 0;



}

.bigger {
    height: 200px;
    width: 200px;
    border-radius: 0%;
    transition: width 2s, height 2s;
}

.indexbackground {
    position: fixed;
    left: 0px;
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1800px;
    height: 1117px;
    mix-blend-mode: lighten;
    opacity: 0.75;
    z-index: -1;
}


.girl {
    position: absolute;
    width: 1685px;
    height: 1685px;
    left: -490px;
    top: -120px;
    filter: drop-shadow(35px 4px 4px rgba(0, 0, 0, 0.25));
    /*    opacity: 0;*/
    /*    transition: opacity 2s;*/
    display: none;
    z-index: -1;
}

.visible {
    opacity: 1;
}


.letherlive {

    position: absolute;
    left: 512px;
    top: 200px;
    width: fit-content;
    font-family: 'Comforter Brush', cursive;
    font-style: normal;
    font-weight: 350;
    font-size: 120px;
    line-height: 30px;

    color: #FFFFFF;
    display: none;
}

.textbox {
    z-index: 1;
    margin: 20px;
    width: 400px;
    height: 550px;
    border: 1px solid white;
    padding: 30px;
    top: 260px;
    left: 95px;
    position: absolute;
    background: white;
}

.textbox:hover {

     box-shadow: 15px 15px rgba(212, 120, 0, 0.40);
}

.textbox1 {
    z-index: 1;
    margin: 20px;
    width: 400px;
    height: 550px;
    border: 1px solid white;
    padding: 30px;
    top: 260px;
    left: 615px;
    position: absolute;
    background: white;
}

.textbox1:hover {

    box-shadow: 15px 15px rgba(212, 120, 0, 0.40);
   
}

.textbox2 {
    z-index: 1;
    margin: 20px;
    width: 400px;
    height: 550px;
    border: 1px solid white;
    padding: 30px;
    top: 260px;
    left: 1135px;
    position: absolute;
    background: white;
}

.textbox2:hover {

     box-shadow: 15px 15px rgba(212, 120, 0, 0.40);
}

button {

    position: absolute;
    width: 378px;
    height: 100px;
    left: 260px;
    top: 450px;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/*
.button {

    position: absolute;
    width: 378px;
    height: 100px;
    left: 750px;
    top: 592px;

    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
*/

.button:hover {
    transition: color 0.25s ease;
}

.button:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: middle;

    background: orange;
    z-index: -1;
    transition: transform 0.5s ease;
}

.button:hover::after {
    transform: scaleY(1);
}

.buttontext {

    position: absolute;
    width: 409px;
    height: 68px;
    left: 860px;
    top: 600px;

    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;


}

.girl2 {
    transform: rotate(180deg);
    position: absolute;
    width: 1685px;
    height: 1500px;
    left: 750px;
    top: -500px;


    background: url(girl2.png);
    filter: drop-shadow(35px 4px 4px rgba(0, 0, 0, 0.25));
    /*    opacity: 0;*/
    display: none;
}

.boxxxxx1 {
    position: absolute;
    width: 1400px;
    height: 1300px;
    left: 2800px;
    top: -100px;


}

.boxtext {
    position: absolute;
    width: 409px;
    height: 68px;
    left: 2765px;
    top: -40px;

    font-family: 'Inria Serif', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 77px;
    color: lightpink
}

.boxtext1 {
    position: absolute;
    width: 800px;
    height: 40px;
    left: 2600px;
    top: 150px;

    font-family: 'Inria Serif', serif;
    font-style: normal;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    color: floralwhite
}

.redBG {
    background-color: red;
}

canvas {
    position: absolute;
}

#defaultCanvas0 {
    z-index: -1;
    top: 0;
    left: 0;
}

/*
#canvas {
    z-index: 1;
}*/
.letherlivepg2 {
    
position: absolute;
    left: 340px;
    top: 10opx;
    width: fit-content;
    font-family: 'Comforter Brush', cursive;
    font-style: normal;
    font-weight: 350;
    font-size: 80px;
    line-height: 30px;

    color: "black";
  display:none;
    
}

.box1text {
 position: absolute;
    left: 340px;
    top: 10opx;
    width: fit-content;
    font-family: 'Comforter Brush', cursive;
    font-style: normal;
    font-weight: 350;
    font-size: 80px;
    line-height: 30px;

    color: "black";   
    
}